extends layout

block content
    #paper_cis_collab
    #global.container
        button#btn_pause_cis_collab Pause Visualization
        button#btn_speed_fast_cis_collab Fast speed
        button#btn_speed_normal_cis_collab Normal speed
        button#btn_speed_slow_cis_collab Slow speed
        h2
            div#iterationID
    div.col-md-6
        #vis.container

    script(src='javascripts/bundle_cis_collab.js')
