extends layout

block content
    #paper
    //#global.container
    script(src='javascripts/bundle_index.js')

    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .container
                    a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar


                    .container
                            h2 Visualization of Overlapping Community Detection Algorithms
                            p Select the Algorithm and Dataset combination you would like to visualize:

                            ul.nav

                                h2
                                    button#btn_cis_karate(onclick="location.href='http://localhost:3000/cis_karate';") Algorithm: CIS, Dataset: Karate
                                h2
                                    button#btn_cis_collab(onclick="location.href='http://localhost:3000/cis_collab';") Algorithm: CIS, Dataset: Collaboration
                                h2
                                    button#btn_demon_karate(onclick="location.href='http://localhost:3000/demon_karate';") Algorithm: DEMON, Dataset: Karate
                                h2
                                    button#btn_demon_collab(onclick="location.href='http://localhost:3000/demon_collab';") Algorithm: DEMON, Dataset: Collaboration


                                img(src='/Images/finalLogo.png' width = "400px" height = "300px")
        //
        //.container
        //    h1 Bootstrap starter template
        //    p
        //        | Use this document as a way to quick start any new project.
        //        br
        //        | All you get is this message and a barebones HTML document.
